@{
    ViewBag.Title = "About";
}
<h2>Who We Are</h2>


<div class="row">
    <div class="col-md-3">
        <h2>Our Story</h2>
        <p>
            In 1999, three longtime friends came up with an idea. They envisioned a different kind of consulting firm – one that allowed them,
            and their employees, to get more out of life and make a better impact on others.
        </p>
        <p></p>
    </div>
    <div class="col-md-3">
        <h2>How We Work</h2>
        <p>We believe consulting is a team sport, which is why we don’t just work for you – we work with you to uncover new ideas that optimize your processes, elevate your technology, and help you compete in a digital world.</p>
        <p></p>
    </div>
    <div class="col-md-3">
        <h2>Why We're Here</h2>
        <p>Our clients and employees deserve an unmatched experience. That’s why we’re here – to provide experiences like no other. Learn more about the values that define us, motivate us, and guide our actions.</p>
        <p></p>
    </div>
    <div class="col-md-3">
        <h2>Ways We Give</h2>
        <p>“Ignite Passion for the Greater Good” is one of our core values. We’re committed to making a positive difference in the communities we love and live in. See how our teams are striving to make an impact across the country.</p>
        <p></p>
    </div>
</div>