@{
    ViewBag.Title = "Support";
}
<h2>@ViewBag.Title.</h2>


<address>
    1020 Dennison Ave,<br />
    Columbus, OH 43201<br />
    <abbr title="Phone">Phone:</abbr>
    (614) 205-8112
</address>

<address>
    <strong>Website:</strong>   <a href="https://centricconsulting.com/">https://centricconsulting.com/</a><br />
</address>