@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    230 Copeland<br />
    Athens, OH 45701<br />
    <abbr title="Phone">Phone:</abbr>
    425.555.0100
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:bg837915@ohio.edu">bg837915@ohio.edu</a><br />
</address>