@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric Consulting</h1>
    <p class="lead">Centric is a digital, business, and technology consulting firm to transform businesses.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Digital Solutions</h2>
        <p>
            We define your digital strategy and makes marketing work.
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Business Consulting</h2>
        <p>Transforming businesses from the people to the process.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Technology Services</h2>
        <p>Planning, building, and delivering technology to solve problems.</p>
        <p></p>
    </div>
</div>